
#pageContainer{
    width: 100%;
    text-align: center;
}


/*board game*/
canvas{
    background-color: red;
    display: inline;
}



/*Links*/
.selected{
    color: red;
}



/*Footer*/
footer{
    width: 100%;
    height: 300px;
    background-color: white;
}


